@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
}

.hero {
  background: url("../public/bg1.webp") no-repeat center center/cover;
}

.tt {
  background-color: rgba(0, 0, 0, 0.4);
}
.scroll-color {
  color: black;
}
